/* ScreenShotCarousel.css */
.screenshot-carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .screenshot-image {
    width: 100%;
    height: auto;
  }